[submodule "libcross2d"]
	path = libcross2d
	url = https://github.com/Cpasjuste/libcross2d.git
[submodule "pscrap"]
	path = pscrap
	url = https://github.com/Cpasjuste/pscrap.git
[submodule "libsmb2"]
	path = libsmb2
	url = https://github.com/sahlberg/libsmb2.git
